# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/coverage

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
./scully.log

firebase-debug.log
.nx-cache
/gh-pages
.firebase

# .js and .map.js files
**/assets/**/*.js.map
**/assets/**/*.js
libs/common-docs/src/**/*.js.map
libs/common-docs/src/**/*.js
libs/feedback/src/**/*.js
libs/feedback/src/**/*.js.map
libs/file-uploader/src/**/*.js
libs/file-uploader/src/**/*.js.map
libs/portfolio/src/**/*.js
libs/portfolio/src/**/*.js.map
libs/route-pages/blog-portfolio/src/**/*.js
libs/route-pages/blog-portfolio/src/**/*.js.map
libs/route-pages/careers/src/**/*.js
libs/route-pages/careers/src/**/*.js.map
libs/route-pages/for-clients/src/**/*.js
libs/route-pages/for-clients/src/**/*.js.map
libs/route-pages/home-page/src/**/*.js
libs/route-pages/home-page/src/**/*.js.map
libs/route-pages/services-page/src/**/*.js
libs/route-pages/services-page/src/**/*.js.map
scully/**/*.js
scully/**/*.js.map