
html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;

}

#bgImg {
    background: url("../images/bg-header.jpg") no-repeat 50% 50%;
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;

}

@media (max-width: 768px) {
    #bgImg .next-block img {
        margin-top: 110px;
    }
}

@media (max-width: 506px) {
    #bgImg .topic-main-menu .topic2-main-menu {
        font-size: 40px;
    }

    #about #header-about {
        font-size: 40px;
    }

    #web-ui .web-ui-description-title {
        font-size: 40px;
    }

    #mobile-application #header-mobile-app {
        font-size: 40px;
    }

    #nodeJS #header-node {
        font-size: 40px;
    }

}

/* top menu */

#top-menu .navbar-img {
    position: absolute;
    margin-top: 15px;
    left: 44%;
    right: 56%;
}

#vs-navbar a {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none !important;
    background-color: transparent !important;
}

.navbar-nav {
    margin-top: 4px;
    margin-left: 60px;
}

@media (max-width: 1401px) {
    .nav > .pull-right {
        float: left !important;
    }

    #top-menu .navbar-img {
        position: relative;
        left: auto;
        right: auto;
    }

    .navbar-nav {
        margin-top: 8px;
        margin-left: 0;
        margin-right: 0;
        float: left !important;
    }
}

@media (max-width: 1210px) {
    #vs-navbar li a {
        font-size: 16px;
    }

    .navbar-nav {
        margin-top: 8px;
        margin-left: 0;
        float: left !important;
    }
}

@media (max-width: 991px) {
    #vs-navbar li a {
        font-size: 14px;

    }
}

@media (max-width: 870px) {
    #vs-navbar li a {
        font-size: 12px;
    }
}

@media (min-width: 770px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    #vs-navbar .in {
        position: relative;
        background-color: transparent;
        margin-top: 0;
    }
}





#top-menu a:hover {
    color: #af1c23;
    background: none;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle {
    margin-top: 45px;
    margin-right: 45px;
    background-color: transparent;
    position: absolute;
    right: 0;
    left: auto;

}

#top-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#bgImg > img {
    width: 100%;
}

/* Content Main */

#bgImg > div:not(#top-menu) {
    text-align: center;
}

#bgImg .slogan {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 263px;
}

#bgImg .slogan h2 {
    font-size: 60px;
    font-weight: 900;
    color: white;
    line-height: 110px;
    text-transform: uppercase;
    margin: 0;
}



#bgImg .slogan p {
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    margin: 20px 0 0;
}

#bgImg .next-block {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 46px;
}

#bgImg .next-block img {
    width: 45px;
}

.color-red {
    color: #af1c23;
}
@media (max-width: 768px) {
    #bgImg .slogan h2 {
        font-size: 30px;
    }

    #bgImg .slogan p {
        font-size: 14px;
    }

    #bgImg,
    #bgImg .slogan {
        height: auto!important;
    }

    #bgImg .next-block,
    #bgImg .slogan,
    #top-menu {
        position: relative !important;
    }

    #vs-navbar a {
        margin-top: 10px;
    }

    .nav {
        float: none !important;
    }
}

/* Fixed Menu */

#fixed-menu {
    font-weight: 300;
    font-size: 20px;
    color: #262424;
    background-color: white;
    -webkit-box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.5);
    /*box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.5);*/
    width: 100%;
    padding-left: 60px;
    padding-right: 25px;
    text-transform: uppercase;
}

#fixed-menu li {
    padding-top: 12px;
}

#fixed-menu .first {
    padding-left: 50px;
}

#fixed-menu a:hover {
    background: none;
    color: #af1c23;
}

#fixed-menu a {
    color: #262527;
}

#fixed-menu .showMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
}

.fixed-nav ul {
    margin-left: 0;
}

#fixed-menu img {
    margin-bottom: 5px;
    padding-top: 12px;
    padding-right: 5px;
    height: 100%;
}

#menu {
    margin-top: 20px;
    text-transform: uppercase;
}

#logo1 {
    margin: 0 32px 0 0;
}

#fixed-menu a:hover {
    color: #af1c23;
}

#gitHub {

    margin: 15px 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1130px;
    }
}
@media (max-width: 1201px) {
    .fixed-nav .container {
        width: 100%;
    }

    #fixed-menu {
        font-size: 12px;
    }

}

@media (max-width: 993px) {

    #vs-navbar-fixed {
        width: 100%;
    }

    .nav>li>a {
        padding: 10px 10px;
    }

    #fixed-menu .first {
        padding-left: 20px;
    }
}

@media (max-width: 770px) {
    #fixed-menu {
        font-size: 10px;
    }

    #logo1-vs {
        margin-left: 15px;
    }

    #fixed-menu .first {
        padding-left: 15px;
    }
}

#fixed-menu .navbar-toggle {
    margin-top: 20px;
    margin-right: 30px;
}

#fixed-menu .navbar-toggle .icon-bar {
    background-color: #af1c23;
}

/* About */

#header-about {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 68px;
    text-decoration: none !important;
}

#image-about {
    padding-right: 38px;
    padding-left: 33px;
}

#image-about > img {
    width: 100%;
    float: left;
    margin-bottom: 145px;
}

.information-about {
    padding-left: 30px;
}

#about .about {
    padding-left: 22px;
    height: 33%;
}





#content-about h3 {
    margin-top: -2px;
    margin-bottom: 0;
    font-weight: 400;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

#content-about p {
    line-height: 30px;
    color: #848586;
    margin-bottom: 70px;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    #content-about p{
        margin: 0 0 30px;
    }
}

@media (max-width: 990px) {
    #about .container {
        width: 100%;
    }

    #about #content-about h3 {
        margin-top: 20px;
    }
}
@media (max-width: 650px) {
    #image-about img {
        width: 100%;
        position: relative;
    }
}

/* web & ui */

#web-ui {
    background-color: #f0f5f9;
}

.web-ui-description-title {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: left;
    text-transform: uppercase;
    margin-top: 190px;
    margin-bottom: 45px;
    text-decoration: none !important;
    line-height: 78px;
}

.web-ui-img-container {
    width: 50%;
    margin-right: -107px;
    margin-left: 106px;
}

.web-ui-description-container {
    width: 50%;
    padding-left: 17px;
}

.web-ui-description {
    width: 95%;

}

@media (max-width: 1599px) {
    #web-ui .web-ui-img-container {
        width: 40%;
        margin: 0;

    }

    .web-ui-description {
        width: 80%;
    }

    .web-ui-btn {
        margin-bottom: 50px;
    }
}

@media (max-width: 1401px) {
    #web-ui .web-ui-img-container {
        width: 50%;
        margin-right: 0;
        margin-bottom: 0;
    }

    .web-ui-description-title {
        font-size: 50px
    }

    .web-ui-description {
        width: 60%;
    }
}

@media (max-width: 1280px) {
    #web-ui img {
        width: 150%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        float: right;
    }
}

@media (max-width: 1024px) {
    #web-ui .container .web-ui-img-container {
        width: 100%;
        position: relative;
    }

    #web-ui .container .web-ui-description-container {
        width: 100%;
        position: relative;
    }

    #web-ui img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
}

.web-ui-description-container > p {
    color: #848586;
    margin-top: 25px;
    margin-bottom: 100px;
    font-weight: 400;
    line-height: 38px;
    font-size: 20px;
}

.web-ui-btn {
    background-color: #af1c23;
    border: 0;
    width: 233px;
    height: 58px;
    border-bottom-color: red;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    overflow: hidden;
    display: block;
}

.web-ui-btn:hover {

    background-color: #ff3434;

}

.web-ui-img-container img {
    display: inline-block;
    margin-left: -200px;
    margin-top: -35px;
    margin-bottom: 108px;
    float: right;
}

/*Mobile App*/

#mobile-application {
    background-color: #ecf2f5;
}

#header-mobile-app {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: left;
    text-transform: uppercase;
    margin-top: 213px;
    margin-bottom: 50px;
    line-height: 68px;
    text-decoration: none !important;
    padding-left: 42px;
}

.mobile-app {
    margin-bottom: 51px;
}

#button-mobile-app {

}

#container-mobile-app img {
    margin-left: -68px;
    margin-top: 150px;
    margin-bottom: 150px;
}

#header-mobile-app {

}

#container-mobile-app #content-mobile-app h3 {
    color: #848586;
    margin-top: 25px;
    margin-bottom: 75px;
    font-weight: 400;
    line-height: 38px;
    font-size: 20px;
    text-transform: none !important;
}

#container-mobile-app div #button-mobile-app {
    background-color: #af1c23;
    border: 0;
    width: 220px;
    height: 40px;
    border-bottom-color: #af1c23;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding-bottom: 15px;
    line-height: 55px;
    margin-top: 27px;
}

#container-mobile-app div #button-mobile-app:hover {
    background-color: #ff3434;
}

@media (max-width: 1571px) {
    #image-mobile-application .image-mobile-app {
        margin: 0;
        width: 100%;
        font-size: 50px;
    }
}

/* migration to nodeJS */

#nodeJS {
    background-color: #f0f5f9;
}

#header-node {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: left;
    text-transform: uppercase;
    margin-top: 207px;
    margin-bottom: 47px;
    line-height: 77px;
    text-decoration: none !important;
}

.nodejs-description {
    padding-left: 32px;
}

#container-node img {
    margin-top: 159px;
    margin-bottom: 160px;
    width: 109%;
}

@media (max-width: 993px) {
    #container-node img {
        width: 100%;
    }
}

.nodejs-img {
    padding-left: 0;
    margin-left: -25px;
    margin-top: -3px;
}

#container-node h3 {
    color: #848586;
    margin-top: 25px;
    margin-bottom: 102px;
    font-weight: 400;
    line-height: 38px;
    font-size: 20px;
}

#button-node {
    background-color: #af1c23;
    border: 0;
    width: 233px;
    height: 58px;
    border-bottom-color: #af1c23;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 50px;
}

#button-node:hover {
    background-color: #ff3434;
}

/* modern tools */

#modern-tools {
    background-color: white;
}

#header-modern-tools {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: center;
    text-transform: uppercase;
    margin-top: 108px;
    text-decoration: none !important;
}

#container-modern-tools h3 {
    color: #848586;
    margin-top: 12px;
    margin-bottom: 68px;
    font-weight: 400;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
}

#modern-tools-first-line a {
    display: inline-block;
    width: 19%;
    text-align: center;
}

#modern-tools-second-line a {
    display: inline-block;
    width: 19%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 150px;
}

@media (max-width: 648px) {
    #modern-tools a img {
        width: 50%;
    }
}

/* creative team */

#creative-team {
    background-color: #262424;
}

#header-creative-team {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: center;
    text-transform: uppercase;
    margin-top: 73px;
    text-decoration: none !important;
}

#container-creative-team h3 {
    margin-top: 13px;
    color: white;
    margin-bottom: 80px;
    font-weight: 400;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
}

.skills span {
    border: 1px solid white;
    padding: 3px;
    color: white;
    text-align: center;
}

.slick-slider {
    margin-bottom: 145px !important;
}

/* carriers */

#carriers {
    background-color: #af1c23;
}

#header-carriers {
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-top: 52px;
    margin-bottom: 0;
    text-decoration: none !important;
}

#carriers .carriers-picture {
    padding-left: 11px !important;
}

.container .carriers-discription {
    padding-left: 32px !important;
    margin-right: 0;
}

#container-carriers p {
    color: white;
    font-weight: 400;
    line-height: 38px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 34px;
    margin-top: 13px;
}

.button {
    background: none;
    border: 2px solid white;
    width: 223px;
    height: 56px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0;
    margin-bottom: 75px;
    padding: 15px 44px;
    cursor: hand;
}

.button:hover {
    background-color: #ecf2f5;
    color: #af1c23;
}

#container-carriers img {
    margin-top: -58px;
}

@media (max-width: 1401px) {
    #container-carriers .picture-carriers {
        width: 100%;
        margin-top: 0;
    }

    .carriers-discription #header-carriers {
        font-size: 40px;
    }

    .carriers-discription p {
        font-size: 10px;
    }

    #container-carriers #button-carriers {
        margin-bottom: 0;
    }
}

/* what people are saying */

#what-people-saying {
    background-color: #f0f5f9;
}

#header-what-people-are-saying {
    font-size: 60px;
    font-weight: 900;
    color: #af1c23;
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 40px;
    text-decoration: none !important;
}

.what-person-are-saying {
    border: 1px solid lightgray;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.what-people-are-saying {
    width: 1024px;
    margin: 0 14% 50px;
}

.head {
    border-bottom: 1px solid lightgray;
    padding: 1px;
}

.name {
    font-size: 20px;
    font-weight: 300;
    color: #262424;
    margin-top: 10px;
}

.org {
    font-size: 15px;
    font-weight: 300;
    color: #848586;
    line-height: 5px;
}

.column {
    width: 30.333333%;
    margin: 0 15px;
}

.photo {
    width: 25%;
    float: left;
}

.discription {
    width: 58%;
    float: left;
}

.eslint {
    width: 15%;
    float: left;
}

@media (max-width: 1280px) {
    #what-people-saying .container {
    }

    .what-people-are-saying {
        margin-left: 0;
        width: 100%;
    }

}

@media (max-width: 993px) {
    #what-people-saying #container-what-people-are-saying .row {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    .what-person-are-saying .discription {
        width: calc(58% - 15px);
    }

    .what-person-are-saying .name {
        font-size: 15px;
        line-height: 15px;
    }

    .what-person-are-saying .org {
        font-size: 10px;
        line-height: 10px;
    }

    .what-person-are-saying {
        padding: 0;
    }

    .what-person-are-saying p {
        font-size: 15px;
        padding: 0 15px;
        line-height: 25px;
    }

    .column {
        width: calc(50% - 30px);
        margin: 15px;
        float: left;
    }
}

@media (max-width: 768px) {
    .column {
        width: calc(100% - 30px);
    }
}

.comment-what-people-are-saying {

    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 15px;

}

@media (min-width: 430px) {
    .comment-what-people-are-saying {
        width: 100%;
    }
}

.ref {
    margin: 10px 0;
}

.ela {
    margin-top: 18px;
}

.comment-what-people-are-saying {
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 1px;
    background-color: white;
}

#container-what-people-are-saying h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 28px;
}

.slash {
    height: 70px;
    border-bottom: 1px solid lightgray;
}

@media (max-width: 1205px) {
    .slash img a {
        width: 100%;
    }
}

/* footer */

.footer {
    background-image: url("../images/pattern-footer.jpg");
    background-size: cover;
    overflow: hidden;
}

#header-footer {
    font-size: 50px;
    font-weight: 900;
    color: #af1c23;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 40px;
    text-decoration: none !important;
    padding-left: 84px;
}

#head-footer {
    font-size: 50px;
    font-weight: 900;
    color: #af1c23;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 40px;
    text-decoration: none !important;
}

#formGroupInputLarge {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 15px;
}

#formGroupInputSmall {
    width: 100%;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 15px;
}

.footer .form-group {
    margin-bottom: 8px;
    width: 84%;
}

.footer .form-group #formGroupInputMessage {
    margin-top: 12px;
    padding-left: 10px;
}

@media (max-width: 1024px) {
    #img-footer {
        margin-bottom: 50px;
    }
}

#formGroupInputMessage {
    width: 100%;
    height: 160px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 15px;
}

#left-footer {
    padding-left: 130px;
    padding-right: 10px;
}



#img-footer {
    padding-left: 84px;
    width: 88%;
}

#button-footer {
    background-color: #af1c23;
    border: 0;
    width: 182px;
    height: 55px;
    border-bottom-color: #af1c23;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 18px 0 120px 0;

}

#box-footer {
    background-image: url("../images/pattern-footer.jpg");
    height: 185px;
    background-size: cover;
    position: relative;
    border-top: 1px solid #262527;
    text-align: center;
}

#box-footer p {
    font-size: 18px;
    color: #9a9d9f;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
    display: inline-block;
}

#box-footer img {
    margin-top: -35px;
    position: relative;
    right: 110px;
    z-index: 1;
}



@media (max-width: 1400px) {
    .footer #left-footer p {
        font-size: 40px;
    }

    .footer #header-footer p {
        font-size: 40px;
    }

    .footer .form-control {
        width: 100%;
    }

}

@media (max-width: 1024px) {
    #box-footer p {
        padding-left: 0;
        margin-top: 50px;
    }

    #box-footer {
        height: 110px;
    }
}

@media (max-width: 740px) {

    #box-footer img {
        margin-right: 0;
    }

    #box-footer p {
        font-size: 12px;
        position: relative;
        right: 55px;
    }
}

.slick-next {
    right: 480px;
}

.slick-prev {
    left: 450px;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**************************************/
#slider-creative-team .slick-track {
    padding: 20px 0 100px;
}

#slider-creative-team .slick-slide {
    height: 425px;
}

#slider-creative-team .slick-slide .face {
    position: relative;
    height: 100%;
}

#slider-creative-team .slick-slide .face .position {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

#slider-creative-team .slick-slide .face .name-slider {
    background: #fff;
    color: black;
    opacity: .8;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: -10px;
}

#slider-creative-team .slick-slide .face .profession {
    background: #af1c23;
    color: white;
    padding: 3px 15px;
    line-height: 15px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    z-index: 1;
    position: relative;
}

#slider-creative-team .slick-slide:not(.slick-center) {
    opacity: .1;
}

#slider-creative-team .slick-slide:not(.slick-center) .skills {
    display: none;
}

#slider-creative-team .slick-slide.slick-center {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
    margin-top: -5px;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 100px #000;
}

#slider-creative-team .slick-slide.slick-center .skills {
    text-align: center;
    margin-top: 12px;
}

#slider-creative-team .slick-slide.slick-center .skills span {
    display: inline-block;
    margin: 5px 3px;
}

@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

