#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 11;
    font-family: 'Roboto', sans-serif;
    display: none;
}

#popup.overlay {
    display: block;
}

.popup-content {
    width: 460px;
    height: 710px;
    border-radius: 4px;
    background-color: #ecf2f5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup-header {
    background-color: #af1c23;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.popup-header h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #ecf2f5;
    font-weight: 900;
}

#popup .popup-form {
    padding: 25px 20px;
}

#popup .popup-form textarea,
#popup .popup-form input {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #b6b9bb;
    font-family: 'Roboto', sans-serif;
    color: #9a9d9f;
}

#popup .popup-form textarea {
    max-height: 135px !important;
    max-width: 100% !important;
}

#popup .popup-send-message {
    overflow: hidden;
}

#popup .popup-send-message .popup-send-message-description {
    float: left;
    padding-top: 20px;
}

#popup .popup-send-message .popup-send-message-description img {
    margin: -5px 5px 0 0;
}

#popup .popup-send-message .popup-send-message-description span {
    color: #9a9d9f;
}

#popup .popup-send-message button {
    float: right;
    background-color: #af1c23;
    border: 0;
    border-bottom-color: #af1c23;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    padding: 16px 38px;
}

#popup .popup-send-message button:hover {
    background-color: #ff3434;
}

#popup .close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px;
    margin-right: -11px;
    color: #fff;
    opacity: 1;
}

#popup .error-message {
    color: #af1c23;
    position: absolute;
    left: 35px;
    visibility: hidden;
}

#popup .error-message.message-show {
    visibility: visible;
}

#popup p {
    margin: -30px 0 10px;
}

/* error message contact menu*/

#popup .error-message-contact {
    color: #af1c23;
    position: absolute;
    left: 140px;
    visibility: hidden;
}

#popup .error-message.message-show {
    visibility: visible;
}

/* popup confirm message */

#popup-confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 11;
    font-family: 'Roboto', sans-serif;
    display: none;
}

#popup-confirm.overlay {
    display: block;
}

.popup-content-confirm {
    width: 460px;
    height: 200px;
    border-radius: 4px;
    background-color: #ecf2f5;
    position: absolute;
    font-size: 16px;
    color: #848586;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup-header-confirm {
    background-color: #af1c23;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.popup-header-confirm h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #ecf2f5;
    font-weight: 900;
}

#popup-confirm .close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px;
    margin-right: -11px;
    color: #fff;
    opacity: 1;
}

.confirm-message-container {
    text-align: center;
    margin-top: 50px;
}

/******* Media *******/

@media (max-width: 767px) {
    .popup-content {
        width: 280px;
        height: 440px;
    }

    .popup-header h2 {
        font-size: 16px;
        padding: 13px 0;
    }

    #popup .popup-form textarea,
    #popup .popup-form input {
        font-size: 14px;
        margin-bottom: 15px;
        padding: 5px 15px;
        border-radius: 3px;
    }

    #popup .popup-send-message button {
        border-radius: 5px;
        font-size: 16px;
        padding: 5px 15px;
    }

    #popup .popup-send-message .popup-send-message-description {
        padding-top: 8px;
    }

    #popup .error-message {
        color: #af1c23;
        position: absolute;
        left: 35px;
        visibility: hidden;
        font-size: 12px;
    }

    #popup p {
        margin: -15px 0 10px;
    }

    .popup-content-confirm {
        width: 280px;
        height: 120px;
        font-size: 12px;
    }

    .popup-header-confirm h2 {
        padding: 10px 0;
        font-size: 16px;
    }

    .confirm-message-container {
        margin-top: 30px;
    }
}