.footer {
    background: #1d1d2b;
}

.footer__top {
    padding: 30px 0;
    background: #cd151e;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: #fff;
    margin-right: 30px;
}

.footer__text h5{
    font-size: 32px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 18px;
    margin: 0 0 14px;
    position: relative;
}

.footer__text h5:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background: #babfc4;
}

.footer__text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

.footer__bottom {
    padding: 27px 0;
}

.copyrights {
    color: #babfc4;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: right;
    margin-bottom: 0;
}

@media (max-width:768px) {
    .footer__top {
        padding: 30px 10px;
    }
    .footer__bottom {
        padding: 15px 0;
    }
    .footer__inner {
        display: block;
        text-align: center;
    }
    .footer__text {
        margin: 0 0 20px;
    }
    .footer .socials {
        justify-content: center;
    }
    .copyrights {
        text-align: center;
        margin-top: 20px;
    }
    .footer__text p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__text h5 {
        font-size: 26px;
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .footer__text h5:after {
        left: 50%;
        margin-left: -15px;
    }
}