.team-list {
    display: flex;
    flex-wrap: wrap;
    margin: 90px 0 0;
    border-bottom: 1px solid #babfc4;
}

.team-item {
    max-width: 285px;
    margin: 0 30px 73px;
}

.team-item__preview-image {
    border-bottom: 3px solid #cd151e;
}

.team-item__preview-image {
    width: 285px;
    height: 285px;
    overflow: hidden;
    transition: all .25s ease-out;
}

.team-item__preview-image:hover img{
    transition: all .25s ease-out;
    transform: scale(1.05);
}

.team-item__preview-image img{
    width: 100%;
    transition: all .25s ease-out;
}

.team-item__name {
    color: #cd151e;
    font-size: 26px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
}

.team-item__name:hover {
    text-decoration: none;
}

.team-item__position {
    color: #55555c;
    font-size: 16px;
    font-weight: 300;
}

.team-item__skills {
    margin: 15px 0 0 -6px;
    padding: 0;
    list-style: none;
}

.team-item__skill {
    display: inline-block;
    color: #55555c;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    border: 1px solid #babfc4;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0 0 6px 6px;
}

/*========================= team-member =======================*/

.team-member {

}

.team-member .socials {
    justify-content: center;
    margin-top: 5px;
}

.team-member__avatar {
    position: relative;
    top: -160px;
    max-width: 325px;
    float: right;
}

.team-member__avatar img {
    border-bottom: 3px solid #b8131a;
    margin-bottom: 10px;
}

.team-member__info {
    padding-left: 10px;
}

.team-member__name {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    position: absolute;
    bottom: 100%;
}

.team-member__position {
    color: #1d1d2b;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 5px;
}

.team-member__description {
    margin-bottom: 50px;
}

.project__section .team-member__skills {
    margin: 17px 0 -11px;
    display: flex;
    flex-wrap: wrap;
}

.team-member__skill {
    width: 50%;
}

.team-member__projects {
    padding: 53px 0;
}

.team-member .projects-list {
    margin: 31px 0 -40px;
}

.team-member .project-list__item {
    padding: 0;
    margin: 0 30px 60px 0;
    min-width: 400px;
}

.team-member .project-list__item:nth-child(odd) {
    margin-right: 60px;
}

@media (max-width: 1399px) {
    .team-list:after {
        content: '';
        margin: 0 15px;
        max-width: 285px;
        display: block;
        width: 285px;
    }
    .team-list {
        justify-content: space-between;
    }
    .team-item {
        margin: 0 15px 73px;
    }
    .team-member__skill {
        width: 50%;
    }
    .team-member__projects .projects-list {
        justify-content: space-between;
    }
    .team-member__projects .project-list__item {
        min-width: 46%;
        margin: 0 0 30px 0;
    }
    .team-member__projects .project-list__item:nth-child(odd) {
        margin-right: 40px;
    }
}

@media (max-width: 1024px) {
    .team-member__name {
        font-size: 45px;
    }
    .team-member .project-list__item:nth-child(odd), .team-member .project-list__item {
        margin: 0 0 20px 0;
        min-width: 0;
    }
    .team-member .projects-preview {
        width: auto;
    }
    .team-member__skill {
        width: 33%;
        margin-bottom: 10px;
    }
    .team-member .project-list__item {
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .team-member__projects {
        padding-top: 25px;
    }
    .team-list {
        justify-content: center;
    }
    .team-item {
        margin-bottom: 40px;
    }
    .team-member__avatar {
        margin: 0 auto;
        width: 100%;
        float: none;
        top: 0;
        margin-top: -160px;
    }
    .team-member__name {
        position: static;
        color: #1d1d2b;
        font-size: 45px;
        font-style: italic;
        line-height: 1;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .team-member__position {
        line-height: 40px;
        font-size: 20px;
    }
    .team-member__skill {
        width: 50%;
    }
    .team-member__description {
        margin-bottom: 20px;
    }
    .team-member .project-list__item {
        flex: 0 0 100%;
    }
}