.btn-pink-border {
  @apply bg-transparent border-pink text-pink rounded-2xl py-1 px-4 hover:bg-pink hover:text-white transition-colors;
  border-width: 1px;
}

.btn-pink {
  @apply bg-pink text-white rounded-20 px-4 py-2.5 hover:bg-hover_pink_btn_col transition-colors items-center;

  &[disabled] {
    @apply opacity-50;
  }
}

.menu-item {
  width: fit-content;
  @apply text-header_font_col px-3 py-2 font-medium relative cursor-pointer block lg:w-auto;

  &:after {
    content: "";
    position: absolute;
    display: block;
    background-color: $light_title_col;
    width: 0;
    height: 0;
    left:  0.75rem;
    bottom: 0;
    transition: all ease .5s;
  }
}

.adaptive-menu {
  @apply lg:hidden absolute z-10 w-screen left-m100% text-white bg-grey_bg;
  transition: all ease .3s;

  &.show {
    @apply left-0;
  }
}

.active-route {
  @apply font-bold text-light_title_col;

  &:after {
    width: 1.25rem;
    height: 0.125rem;
  }
}

.popover {
  @apply hidden absolute bg-light_grey_bg rounded-xl min-w-585 z-10;
  left: -5rem;
  top: 70px;

  &_show {
    @apply block;
  }

  .arrow {
    @apply absolute bg-light_grey_bg absolute w-8 h-8 transform rotate-45;
    top: -5px;
    left: 8.125rem;
  }
}

.adaptive-popover {
  transition: all ease-in .3s;

  @apply block opacity-0 pointer-events-none h-0 lg:hidden pl-6;

  &.show {
    @apply opacity-100 pointer-events-auto h-screen md:h-full ;
  }
}

.backdrop {
  @apply hidden fixed w-full h-full z-0 bg-transparent inset-0;

  &.grey {
    @apply bg-black opacity-70;
  }

  &_show {
    @apply block;
  }
}

.contact-modal {
  @apply fixed w-full h-full inset-0 flex items-center justify-center z-10;
}

.light-arrow {
  &.route-arrow {
    &:before {
      transform: rotate(-90deg) translateX(90%);
    }
  }

  &:before {
    content: url("../img/icons/light-arrow.svg");
    @apply absolute block right-m5 transition-all;
    width: 10px;
    top: 45%;
    transform: translateY(-50%);
  }
}

.text-input {
  @apply p-4 w-full bg-input_col text-white text-base border border-transparent rounded   focus:border-pink focus:shadow-none focus:ring-0;

  &.ng-invalid.ng-touched.ng-dirty {
    @apply border-pink;
  }

  &::placeholder {
    @apply text-placeholder_col
  }
}

.radio-button {
  @apply w-4 h-4 rounded-full border border-pink bg-transparent shadow-inner_radio_btn transition-colors;

  &.checked {
    @apply bg-pink;
  }
}

.landing-header {
  @apply bg-grey_bg;
  height: calc(100vh - 80px);
  padding: 126px 108px;

  h1 {
    font-size: 64px;
    line-height: 66px;
  }
}

.landing-section {
  @apply bg-grey_bg pt-16 pb-12;
}

.img-filter {
  @apply relative;

  &:after {
    content: '';
    @apply w-full h-full absolute bg-black opacity-30 inset-0;
  }
}

.swiper {
  @apply w-full h-full flex flex-col-reverse;
}

.swiper-slide {
  @apply bg-grey flex justify-between h-auto p-10 items-center;
}

.swiper-pagination {
  @apply relative mt-12;
}

.swiper-pagination-bullet {
  @apply bg-light_title_col opacity-100 transition-all;
  width: 10px;
  height: 10px;

  &-active {
    width: 34px;
    border-radius: 5px;
    @apply bg-pink;
  }
}

h3 {
  span {
    @apply text-dar_grey_font_col;
  }
}

li::marker {
  padding-right: 0px;
}


@layer base {
  @font-face {
    font-family: Work Sans;
    font-weight: 400;
    src: url(../fonts/work-sans/WorkSans-Regular.woff) format("woff");
  }
}


