name: on-deploy

on:
  push:
    branches:
      - updated-site-deploy

env:
  FIREBASE_CHANNEL: live

  CACHE_NODE_MODULES_PATH: |
    ~/.npm
    node_modules
    dist/valor-software-site

  CACHE_DIST_PATH: |
    dist
    dist/valor-software-site

jobs:
  # one run
  one_run:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  # install dependencies
  install:
    runs-on: ubuntu-latest
    needs: one_run
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        id: cache
        with:
          path: ${{ env.CACHE_NODE_MODULES_PATH }}
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
        if: steps.cache.outputs.cache-hit != 'true'

  # build valor-software-site-base
  build:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_NODE_MODULES_PATH }}
          key: node_modules-${{ hashFiles('**/package-lock.json') }}
      - uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_DIST_PATH }}
          key: dist-${{ github.run_id }}
      - run: |
          npx ng build --runner cloud --prod
          npx scully --prod --scanRoutes --project=valor-software-site

  # firebase deploy
  firebase_deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ${{ env.CACHE_DIST_PATH }}
          key: dist-${{ github.run_id }}
      - uses: FirebaseExtended/action-hosting-deploy@v0
        continue-on-error: true
        id: firebase_hosting
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_VALOR_SOFTWARE_SITE }}'
          projectId: valor-software-site
          channelId: ${{ env.FIREBASE_CHANNEL }}
